@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700&display=swap');
.background-texture{
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
body{
  background: #4e54c8;
}
body *{
  font-family: 'Darker Grotesque', sans-serif;
}
.content {
  position: relative;
  z-index: 100;
  padding-top: 100px;
  padding-bottom: 40px;
}

.error-message {
  text-align: center;
  color: rgb(158, 0, 0);
  font-style: italic;
  background-color: white;
}
